* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: white;
}

.header {
    /* opció perque baixi el menu si no hi cap: */
    flex-wrap: wrap;
    
    box-sizing: content-box;    
    background: white;
    display: flex;
    /*Millor sense height, aixi al utilitzar flex-wrap el header baixa amb el menu i el marge collapsa amb les fotos
    height: 80px;
    */
    justify-content: space-between; 
    /*opció*/
    margin-top: 5px;
    
    
    /*border option*/
    border-bottom: px solid turquoise;
}

.logo-container {
    margin-left: 20px;
    display: flex;
    flex: 1;
    align-items: center;
}

.logo {
    /*max-height i width: 100% per deixar reduir tamany,
    si no faig lo mateix amb menu es menja l'espai del logo.
    També podria corregir amb min-width*/
    height: 75px;
    margin-top: 4px;
}

.menu-container {
    display:flex;
    margin-right: 20px;
    /*Opció: marge per igualar el de la dreta sobretot quan baixa a nova linia amb flex-wrap,
    potser ara s'hauria d'ajustar el menu per estar més a l'esquerra com abans*/
    margin-left: 20px;
    flex: 2;
    align-items: center;
    /*Marge pel peu de les lletres igual que peu logo?*/
    margin-top: 10px;
}

.menu {    
    display: flex;
    flex: 1;
    justify-content: space-around;
}

.menu-button {
    background-color: white;
    color: #1fbdcd;
    padding: 7px 10px;
    border-radius: 10px; 
    text-align: center;
    font-size: 20px;
    text-decoration: none;
}

.menu-button:hover {
    background-color: rgb(219, 219, 219);
}

.index-images-container {
    border: ;
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.index-images {
    border:;
    display: flex;
    justify-content: center;
    flex: auto;
}

.index-img {
    border: ;
    width: 100%;
    min-width: 0;
}

.section-one-footer-container {
    border: ;
    display: flex;
    justify-content: center;
}

.section-one-footer {
    border: ;
    color:#1fbdcd; 
    font-weight: 500;
    font-size: 30px;
}

@media screen and (max-width: 768px) {
    .logo-container {
        justify-content: center;
    }
    .index-images {
        flex-wrap: wrap;
    }
}

