* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: turquoise;
}
.header {
    
    background: white;
    display: flex;
    height: 80px;
    justify-content: space-between;
}
.logo-container {
    
    margin-left: 20px;
    display: flex;
    flex: 1;
    align-items: center;
}
.logo {
     
    height: 75px;
    margin-top: 4px;
}
.menu-container {
    display:flex;
    
    margin-right: 20px;
    flex: 2;
    align-items: center;
}
.menu {
    
    display: flex;
    flex: 1;
    justify-content: space-around;   
}
.menu-button {
    background-color: white;
    color: black;
    padding: 7px 10px;
    border-radius: 10px; 
    text-align: center;
    font-size: 18px;
    text-decoration: none;
}
.menu-button:hover {
    background-color: rgb(219, 219, 219);
}
